* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font: 100%/1.5em cursive;
}

.container {
    width: 90%;
    background-color: #777;
    margin: 0 auto;
}

.container .cols {
    float: left;
    margin: 0 0 1em;
    padding: 0 1em;
    background-color: springgreen;
    text-align: center;
}

.container .cols.col-1 { width: 8.333333333%; }
.container .cols.col-2 { width: 16.666666667%; }
.container .cols.col-3 { width: 25%;}
.container .cols.col-4 { width: 33.333333333%;}
.container .cols.col-5 { width: 41.666666667%; }
.container .cols.col-6 { width: 50%; }
.container .cols.col-7 { width: 58.333333333%; }
.container .cols.col-8 { width: 66.666666667%; }
.container .cols.col-9 { width: 75%; }
.container .cols.col-10 { width: 83.333333333%; }
.container .cols.col-11 { width: 91.666666667%;}
.container .cols.col-12 { width: 100%;}


.row {
    clear: both;
}

@media screen and (max-width: 500px) {
    .container  {
        background-color: #333;
    }
}


